<div class="simple-multiselect">

  <div>
    <input type="text"
           [(ngModel)]="searchText"
           (ngModelChange)="handleSearch()"
           [placeholder]="translations.searchPlaceholder">
  </div>

  <div *ngIf="!!filterSettings">
    <h3>{{ filterSettings.filterTitle }}</h3>
    <select [(ngModel)]="selectedFilter"
            (change)="handleFilter()">
      <option value="all"
              selected="true">{{ translations.showAll }}</option>
      <option *ngFor="let option of filterSettings.options"
              [value]="option[filterSettings.filterBy]">{{option[filterSettings.label]}}</option>
    </select>
  </div>

  <div class="results"
       *ngIf="options.length > 0; else noResults">
    <div>
      <label class="sms-container">{{ translations.selectAll }}/{{ translations.deselectAll }}
        <input class="sms-checkbox"
               type="checkbox"
               (change)="handleAll($event)"
               [checked]="checkAll" />
        <span class="sms-check"></span>
      </label>
    </div>
    <ng-container *ngFor="let option of options">
      <div *ngIf="selectedFilter == option[filterSettings.filterKey] || selectedFilter == 'all'">
        <label class="sms-container">{{ option[titleKey] }}
          <input class="sms-checkbox"
                 type="checkbox"
                 (change)="checkHandler(option)"
                 [checked]="checkAll || option.selected" />
          <span class="sms-check"></span>
        </label>
      </div>
    </ng-container>
  </div>
  <ng-template #noResults>{{ translations.noResults  }}</ng-template>
</div>
