$pad: 12px;
$check-size: 20px;
$pogo-green: #96c93c;
$light-gray: #ccc;
$dark-gray: #aaa;


/* CHECKBOX */
.sms-container {
  display: block;
  position: relative;
  padding: $pad;
  padding-left: $check-size + ($pad * 2);
  margin-bottom: -1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid $light-gray;
  background-color: #fff;
  transition: background-color .25s ease-out
}

.sms-container:hover {
  z-index: 2;
  border-color: $dark-gray;
  background-color: lightgray;
}

.sms-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sms-check {
  position: absolute;
  top: 50%;
  left: $pad;
  height: $check-size;
  width: $check-size;
  border-radius: 2px;
  background-color: #ededed;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  border: 1px solid transparent
}

.sms-container:hover input ~ .sms-check {
  background-color: #fff;
  border-color: $dark-gray;
}

.sms-container input:checked ~ .sms-check {
  background-color: $pogo-green;
}
.sms-container:hover input:checked ~ .sms-check {
  border-color: $pogo-green;
}

.sms-container input:checked ~ .sms-check {
  border-color: $pogo-green;
}
.sms-check:after {
  content: "";
  position: absolute;
  display: none;
}

.sms-container input:checked ~ .sms-check:after {
  display: block;
}

.sms-container .sms-check:after {
  transform: rotate(-45deg) scale(0.8);
  top: 4px;
  left: 3px;
  width: $pad;
  height: 6px;
  border: 3px solid #fff;
  border-top-style: none;
  border-right-style: none;
}
